body{
    margin: 0;
    padding: 0;
    color: #242424;
    font-family: sans-serif;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

h1,h2,h3,h4,h5,h6{
    font-weight: 900;
    color: #000
}

.wrapper{
    width: 100%;
    margin: 0 auto;

}

main{
    display: block;
    background-color: #fff;    
}

.container{
    width: 100%;
    max-width: 760px;
    margin: 0 auto;
    padding: 0 20px;
}

section.module:last-child{
    margin-bottom: 0;
}

section.module h2{
    margin-bottom: 40px;
    font-size: 30px;
}

section.module.content{
    padding: 40px 0;
    background-color: #ece7d5;
}

section.module.parallax{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh !important;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

section.module.parallax:after{
    content:"";
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 8;
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0, rgba(0,0,0,0) 40%, #000 100%);
}

section.module.parallax-1{
    background-image: url("https://preview.redd.it/nu2nqkdr0l561.jpg?auto=webp&s=7110e7bb0b93321ec21b565e33a02642dbf7356c");
}

section.module.parallax-2{
    background-image: url("https://images.unsplash.com/photo-1618933974351-e38629016464?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8Ym9vayUyMGxvdmVyfGVufDB8fDB8fA%3D%3D&w=1000&q=80");
}

section.module.parallax-3{
    background-image: url("https://i.pinimg.com/736x/71/06/bf/7106bfc423286076fb4b6651fd6f7271.jpg");
}

section.module.parallax h1{
    color: #FFF;
    text-align: center;
    padding: 0;
    margin: 0;
    font-size: 78px;
    z-index: 50;
}

section.module.parallax p{
    color: #FFF;
    text-align: center;
    z-index: 50;
}

.text-italic {
    font-style: italic;
}

.row {
    display: flex;
    flex-direction: row;
}

.row > a {
    padding: 3px;
}

.row > div {
    padding: 10px;
}

.py-0 {
    padding-top: 0;
    padding-bottom: 0;
}

.my-0 {
    margin-top: 0;
    margin-bottom: 0 !important;
}
